:root {
    --bg-gray: #f3f4f4;
    --hover-gray: #ecefef;
    --border-gray: #b7b7b7;
    --font-gray: #5c5c5c;
    --default: #328c91;
    --green: #568e40;
    --blue: #3b92d5;
    --hotpink: #f55e7f;
    --lightpink: #ffc2cf;
}

@font-face {
    font-family: "poppins";
    src: url("./fonts/Poppins.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 300px minmax(auto, 1fr);
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-column: 1 / 3;
    align-self: center;
    padding: 40px;
    background-color: var(--default);
}

#sidebar {
    height: 100%;
    background-color: var(--bg-gray);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

#sidebar h2 {
    margin: 10px 40px;
    align-self: flex-start;
}

.projects-header {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-gray);
    margin-top: 50px;
}

.projects {
    display: flex;
    flex-direction: column;
}

#sidebar button {
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 30px;
    background-color: var(--bg-gray);
    text-align: left;
    display: flex;
    align-items: center;
}

.plus-icon img {
    width: 30px;
    height: 30px;
}

#sidebar button:hover {
    background-color: var(--hover-gray);
}

#main {
    height: 90%;
    display: grid;
    grid-template-rows: 100px 1fr auto;
    padding: 50px;
    margin: 0 auto;
    min-width: 700px;
    max-width: 1200px;
    width: 60vw;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.ellipsis-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.ellipsis-icon:focus {
    background-color: var(--hover-gray);
}

.options {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-gray);
    overflow: hidden;
    border-radius: 10px;
    display: none;
}

.options button {
    background-color: white;
    border: none;
    width: 100%;
    height: 50%;
}

.tasks {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
}

.task {
    position: relative;
    display: flex;
    padding: 20px 40px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: white;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid var(--border-gray);
    border-radius: 50%;
    margin-right: 20px;
}

.task-text {
    flex: 1;
    text-align: left;
}

.task-date {
    width: 80px;
    padding: 6px 0;
    font-size: 14px;
    position: absolute;
    right: 200px;
    color: var(--font-gray);
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray);
    border-radius: 10px;
}

.flag-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 150px;
}

.trash-icon {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    display: none;
}

.trash-icon:hover {
    width: 27px;
    height: 27px;
}

.task:hover .trash-icon{
    display: block;
}

.addTaskButton {
    padding: 20px;
    background-color: white;
    border: 1px dashed var(--border-gray);
    border-radius: 10px;
    font-size: 18px;
    color: var(--font-gray);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form * {
    font-size: 16px;
}

.form-row {
    margin: 12px 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#color {
    justify-self: flex-end;
}

.form-row input[type="text"],
.form-row input[type="text"]:focus,
.form-row textarea {
    outline: none;
    border: none;
}

.form-row input[type="text"]:focus {
    border-bottom: 2px solid blue;
}

.form-row textarea:focus {
    border: 2px solid blue;
    border-radius: 10px;
}

.form-row input[type="text"],
.form-row textarea {
    width: 100%;
    padding: 5px;
}

.form-row.buttons {
    display: flex;
    justify-content: flex-end;
}

.form-row button {
    width: 90px;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 6px;
}

button:hover { 
    cursor: pointer;
    background-color: var(--hover-gray);
}